@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Gravitas+One&family=Sarina&display=swap");
@font-face {
  font-family: "fungis-regular";
  src: url(../fuentes/FUNGIS\ Regular.otf);
}
@font-face {
  font-family: "fungis-bold";
  src: url(../fuentes/FUNGIS\ Heavy.otf);
}
ul ol {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
}

img {
  max-width: 100%;
  padding: 0px;
}

p {
  margin: 0px;
}

/*Menu principal*/
margin-changer {
  margin-left: 4rem;
  margin-right: 4rem;
}

.bg-black {
  color: #1B1B1C;
}

.nav-link {
  color: #f4f2e9;
}

.nav-link:hover {
  color: #f0b5ff;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.logo-header {
  width: 4rem;
}

.carrito-contenedor {
  display: flex;
  justify-content: center;
  width: 4rem;
  order: 2;
}

.carrito-nav {
  width: 2rem;
  justify-content: center;
}

.menu-principal {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.lista-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.opciones-menu {
  font-family: "fungis-regular";
  color: #f4f2e9;
  text-decoration: none;
}

/*FOOTER*/
footer {
  background-color: #1B1B1C;
  display: flex;
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.opciones-menu-footer {
  text-decoration: none;
  color: #f4f2e9;
}

.contenedores-footer {
  justify-content: end;
  align-self: center;
}

.logo-footer {
  width: 6rem;
}

.estilo-lista {
  list-style: none;
}

/*TODOS LOS BANNERS*/
.all-banners {
  position: relative;
  text-align: center;
  color: #f4f2e9;
}

.banners-centered-text {
  font-family: "fungis-regular";
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*Botones*/
.botones {
  font-family: "fungis-regular";
  color: #f4f2e9;
  background-color: #ED5A29;
}
.botones:hover {
  font-family: "fungis-regular";
  color: #f4f2e9;
  background-color: #d34e2a;
}

/*titulos y textos - estilos y tamaños*/
.titulos-estilo {
  font-family: "fungis-bold";
}

.textos-estilo {
  font-family: "fungis-regular";
}

.titulos-size {
  font-size: 18px;
}

.textos-size {
  font-size: 14px;
}

/*BANNER PRINCIPAL*/
.seccion-banner {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  overflow: hidden;
  /* grid-column: span 12;
  grid-row: 1/2; */
}

/*SECCION CATEGORIAS*/
#seccion-categorias {
  display: flex;
  grid-column: span 12;
  grid-row: 2/3;
  height: 15rem;
  justify-content: space-around;
  align-items: center;
}

.categorias-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categorias-imagenes {
  width: 30%;
}

.nombre-categoria {
  color: #1B1B1C;
  text-align: center;
}

/*CARDS BENEFICIOS*/
.contenedor-cards-beneficios {
  background-color: #25584d;
  max-width: 30%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.imagen-cards-beneficios {
  width: 4rem;
}

.contenedor-texto-cards-beneficios {
  display: flex;
  flex-direction: column;
}

.titulo-cards-beneficios {
  color: #f4f2e9;
}

.texto-cards-beneficios {
  color: #f4f2e9;
}

/* CARDS PRODUCTOS*/
.cards-productos {
  display: flex;
  justify-content: center;
  max-width: 20%;
  border: 0;
}

.cards-productos-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 1rem;
}

.img-cards-productos {
  overflow: hidden;
}

/*CONTACTO*/
.contenedor-contacto {
  display: flex;
}

.contenedores-internos-contacto {
  max-width: 50%;
  flex: 1;
  display: flex;
  gap: 2rem;
}

.opciones-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  gap: 2rem;
}

.opciones-input-dos {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}

.label-input {
  color: #1B1B1C;
}

/*Productos*/
.opciones-menu-productos {
  padding-top: 1rem;
  background-color: #f0b5ff;
  text-decoration: none;
  text-align: center;
  color: #1B1B1C;
}
.opciones-menu-productos:hover {
  padding-top: 1rem;
  background-color: #d89aef;
  text-decoration: none;
  text-align: center;
  color: #1B1B1C;
}

/*NOSOTROS*/
.contenedores-nosotros {
  display: flex;
  max-width: 100%;
  margin: 4rem;
}

.contenedores-internos-nosotros {
  justify-content: center;
  max-width: 50%;
  padding: 20px;
  align-self: center;
}

.color-titulo-nosotros {
  color: #25584d;
}

.color-texto-nosotros {
  color: #1B1B1C;
}

/*BLOG*/
.cards-blog {
  border: 0px;
  margin-top: 2rem;
}

.foto-card-blog {
  width: 25%;
}

.botones-dos {
  font-family: "fungis-regular";
  max-width: 25%;
  color: #f4f2e9;
  background-color: #ED5A29;
}
.botones-dos:hover {
  font-family: "fungis-regular";
  max-width: 25%;
  color: #f4f2e9;
  background-color: #d34e2a;
}

/*Animaciones*/
.animacion-productos {
  transition: all 0.5s 0.1s ease-in-out;
}

.animacion-productos:hover {
  transform: scale(1.14) rotate(4deg);
}

.boton-banner {
  font-family: "fungis-regular";
  justify-content: center;
  align-items: center;
  color: #f4f2e9;
  background-color: #25584d;
  animation: 3s 2ms linear 2 normal;
}
.boton-banner:hover {
  background-color: #1c483f;
  color: #f4f2e9;
}

/*Responsive mobile*/
@media only screen and (max-width: 400px) {
  .margin-changer {
    margin-left: 0rem;
    margin-right: 0rem;
  }
}
/*Responsive tablet*/
@media only screen and (max-width: 991px) {
  .carrito-contenedor {
    order: 0;
  }
}
@media only screen and (max-width: 530px) {
  .contenedor-cards-beneficios {
    background-color: #25584d;
    max-width: 100%;
  }
}
@media only screen and (max-width: 625px) {
  .cards-productos {
    justify-content: center;
    max-width: 100%;
    border: 0;
    margin: 2rem;
  }
}
@media only screen and (max-width: 625px) {
  .cards-blog {
    border: 0px;
    margin-top: 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
