$x0:0rem;

$x1:1rem;

$x2: 2rem;

$x4: 4rem;

$x6: 6rem;

$x15:15rem;


$per20:20%;

$per25:25%;

$per30:30%;

$per50:50%;

$per100:100%;


$black:#1B1B1C;

$crema:#f4f2e9;

$rosa:#f0b5ff;

$verde:#25584d;

$naranja:#ED5A29;

$rosa-hover:#d89aef;

$naranja-hover:#d34e2a;

$fuente-regular: "fungis-regular";

$fuente-bold:"fungis-bold";


  