@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&family=Sarina&display=swap');

@font-face {
    font-family: 'fungis-regular';
    src: url(../fuentes/FUNGIS\ Regular.otf);
}

@font-face {
    font-family: 'fungis-bold';
    src: url(../fuentes/FUNGIS\ Heavy.otf);
}
